body

{
        background-color: rgb(255, 128,0);
        padding: 90px;
}

h1 {
        font-size: 50px; 
        font-weight: bold;
        font-family: "elephant";
        color: rgb(124,44,122);
}

h2 {
        font-size: 30px;
        font-weight: bold;
        font-family: "elephant";
        text-decoration: underline;
        color: rgb(27,89,11);
}

ul {
        font-size: 24px;
        font-weight: bold;
        font-family: "elephant";
}

.halloweenimg {float:right;
               position:absolute;
               top:21%;
               right:8%;
}

.img2 {float:right;
       position:absolute;
       top:21%;
       right:8%;
}
