body
{background-color: rgb(255, 128,0);
padding: 80px;}
        h1 {font-size: 50px; 
            font-weight: bold; 
            font-family:showcard gothic;    
            color: rgb(64,0,64); }
        h2 {font-size: 30px;
font-family: gill sans ultra bold;}
        ul {font-size: 24px;
font-family: gill sans ultra bold;}
img "http://halloween-clipart.clipartonline.net/_/rsrc/1377628776727/black-halloween-cats/Halloween_Cat-5.png?height=320&width=320"
{float: right;}
