body
{background-color: rgb(255, 128,0);
padding: 80px;}
display: block
        h1 {font-size: 50px; 
            font-weight: bold; 
            font-family:showcard gothic;    
            color: rgb(64,0,64); }
        h2 {font-size: 30px;
            font-family: gill sans ultra bold;}
        ul {font-size: 24px;
            font-family: gill sans ultra bold;}


